{% extends "base.html" %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Home</a>
          <!-- <a class="navbar-brand" href="/">News Feed</a>
          <a class="navbar-brand" href="/">Weather</a>
          <a class="navbar-brand" href="/">Currency</a> -->
        </div>
      </div>  
    </nav>
{% endblock %}

{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1>Quick News</h1>
        <p>Explore the Power of Math in Your Everyday Life</p>
      </div>  
    </div>

    <div class="container">
      <h1><a href="{{link}}" target="_blank">{{publication_to_show | upper}} : {{title}}</h1></a>
      <br />
      <br />
      <br />
      {% for textline in article_summary %}
          <p>{{ textline }}</p>
      {% endfor %}
      <br />
      <br />
      <br />
      <!-- {% if True %}
          {% for textline in article_content %}
              <p>{{ textline }}</p>
          {% endfor %}
      {% endif %} -->
    </div>
{% endblock %}