{% extends "base.html" %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Home</a>
          <a class="navbar-brand" href="/">News Feed</a>
          <a class="navbar-brand" href="/">Weather</a>
          <a class="navbar-brand" href="/">Currency</a>
        </div>
      </div>  
    </nav>
{% endblock %}

{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1>Daily AI</h1>
        <p>Explore the Power of Math in Your Everyday Life</p>
      </div>  
    </div>

<!--     <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Simple</h2>
          <p>...details </p>
        </div>
        <div class="col-md-4">
          <h2>Effective</h2>
          <p>...details</p>
       </div>
        <div class="col-md-4">
          <h2>Register now</h2>
          <p>...details</p>
          </form>
        </div>
      </div>
    </div> -->
    <div class="container">
      <h2>Consult Your Favorite Headlines</h2>
            <form> Choose publisher: 
                <select name="publication">
                    {% for pub in publications %}
                        <option value="{{ pub }}" {% if pub==pub_display %} selected="selected"{% endif %}>
                        {{pub}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Submit" />
            </form>
            <h2>News Feed from {{ pub_display | upper }}</h2>
            {% for article in articles %}
                <b><a href="{{article.link}}" target="_blank">{{article.title}}</b></a><br />
                <i>{{article.published}}</i><br />
                <p>{{article.summary}}</p>
            {% endfor %}
    </div>
{% endblock %}